@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 49.1%; 
  margin: 0 auto;
}

/* for header  */

h3 {
  font-size: 18px;
  text-align: center;
}

h3::after {
  content: "";
  width: 65px;
  height: 2px;
  margin: 25px auto;
  display: block;
  background-color: #D9D9D9;
  text-align: center;
}

/*=================================
  Header styling starts here
=================================*/

header {
  padding: 12px 0 20px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 122px;
  height: 53px;
}

.hamburger,
.cross {
  display: none;
  text-indent: -9999px;
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}


.menus {
  flex-basis: 32%;
}

.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  font-size: 9px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.menus ul li a:hover {
  color: #ffa500;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner starts  */

.banner {
  position: relative;
}

.banner img {
  height: 311px;
}

.banner-content {
  width: 34%;
  position: absolute;
  top: 15.2%;
  left: 32.7%;
  text-align: center;
}

.banner-content h2 {
  color: #fff;
  font-size: 34px;
  letter-spacing: 1px;
  line-height: 43px;
}

.banner-content h2::after {
  content: "";
  width: 65px;
  height: 2px;
  margin: 19px auto;
  display: block;
  background-color: #fff;
  text-align: center;
}

.banner-content p {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  font-style: italic;
}

.banner-cross {
  position: absolute;
  top: 55.7%;
  left: 50%;
  font-size: 67px;
  transform: translate(-50%, -50%);
}

.banner-lower {
  padding: 49px 0;
  background: #FEFEC9;
  text-align: center;
}

.banner-lower p {
  font-size: 14px;
  line-height: 19px;
}

.banner-lower a {
  padding: 12px 25px;
  margin-top: 34px; 
  border: 1px solid;
  border-bottom: 2px solid;
  color: #000;
  font-size: 13px;
  font-style: italic;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.banner-lower a:hover {
  color: #ffa500;
}

/* banner ends  */
/* how we make start  */

.how-we-make {
  padding: 69px 0 58px;
}

.how-we-make-cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.brand-card {
  flex-basis: 31.8%;
  text-align: center;
}

.brand-card figure {
  width: 100%;
  height: 174px;
}

.brand-card-title {
  margin-top: 31px;
  display: block;
  color: #000;
  font-size: 14px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  white-space: nowrap;
}

.brand-card-title:hover {
  color: #ffa500;
}

.brand-card p {
  margin-top: 16px;
  font-size: 12px;
  line-height: 17px;
}

/* how we make end  */
/* our project start  */

.our-project {
  padding: 67px 0 68px;
  background: #F5F5F5;
}

.our-project h3 {
  margin-bottom: 30px;
}

.explore {
  width: 97%;
  padding: 10px;
  position: relative;
  color: #fff;
  background: #ff0000;
  cursor: pointer;
}

.explore::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.recent-project-cards {
  height: 0;
  margin-top: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.recent-project-cards-explore {
  height: auto;
}

.hide::before {
  content: "-";
}

.recent-project-card {
  padding-bottom: 16px;
  flex-basis: 31.8%;
  background: #fff;
  text-align: center;
}

.recent-project-card figure {
  width: 100%;
  height: 238px;
}

.project-title {
  margin-top: 17px;
  display: block;
  color: #000;
  font-size: 14px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.project-title:hover {
  color: #ffa500;
}
.project-field {
  font-size: 12px;
}

/* our project end  */
/* our team start  */

.our-team {
  padding: 69px 0;
}

.our-team-upper .wrapper {
  padding-bottom: 69px;
}

.our-team-cards {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
}

.team-card {
  text-align: center;
}

.team-card figure {
  width: 100%;
  height: 178px;
}

.team-card figure img {
  border-radius: 100%;
}

.team-card a {
  margin-top: 17px;
  color: #000;
  font-size: 13px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.team-card a:hover {
  color: #ffa500;
}

.position {
  margin-top: 5px;
  display: block;
  font-size: 13px;
  font-style: italic;
}

.team-card ul {
  margin-top: 16px;
}

.team-card-icons li a,.danny-card-icons a {
  text-indent: -9999px;
  padding: 5px;
  border-radius: 100%;
  background: #F5F5F5;
}

.team-card-icons li a::before,.danny-card-icons a::before {
  content: "\f099";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.team-card-icons li a:hover:before,.danny-card-icons a:hover:before {
  color: #ffa500;
}

.team-card-icons li:nth-child(2) a::before {
  content: "\f0e1";
}

.team-card-icons li:nth-child(3) a::before {
  content: "\f0e0 ";
}

.danny-card-icons li:first-child a::before {
  content: "\f16d";
}

.danny-card-icons li:nth-child(2) a::before  {
  content: "\f099";
}
.danny-card-icons li:nth-child(3) a::before  {
  content: "\f1b4";
}
.danny-card-icons li:nth-child(4) a::before  {
  content: "\f17d";
}
.danny-card-icons li:nth-child(5) a::before  {
  content: "\f0e0";
}

.our-team-lower {
  padding: 51px 0 78px;
  background: #F5F5F5;
}

.our-team-lower .wrapper {
  text-align: center;
}

.our-team-lower-contents {
  margin-top: 50px;
  display: flex;
}

.team-lower-icon {
  padding: 3px 18px;
  border-radius: 100%;
  background: #000;
  color: #fff;
  font-size: 38px;
}

.left-arrow,.right-arrow {
  position: absolute;
  display: none;
  text-align: -9999px;
}

.team-member-quote {
  text-align: center;
}

.team-member-quote p {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.team-member-quote figure {
  width: 50px;
  height: 50px;
  margin: 19px auto 0;
}

.team-member-quote figure img {
  border-radius: 100%;
}

.team-member-name {
  margin-top: 8px;
  color: #CCCCCC;
  font-size: 12px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.team-member-name:hover {
  color: #ffa500;
}
/* our team end  */
/* get in touch started  */

.get-in-touch {
  position: relative;
}

.lets-get-in-touch {
  width: 100%;
  position: absolute;
  top: 17%;
}

.get-in-touch-contents .get-in-touch-icon {
  text-indent: -9999px;
}

.get-in-touch-contents .get-in-touch-icon::before {
  content: "\f041 ";
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 50px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.get-in-touch-contents .get-in-touch-icon:hover:before {
  color: #ffa500;
}

.get-in-touch-contents:nth-child(2) .get-in-touch-icon::before {
  content: "\f0e0";
}

.get-in-touch-contents:nth-child(3) .get-in-touch-icon::before {
  content: "\f08a";
}

.get-in-touch h4 {
  font-size: 16px;
  text-align: center;
}

.get-in-touch h4::after {
  content: "";
  width: 65px;
  height: 2px;
  margin: 25px auto;
  display: block;
  background-color: #999999;
  text-align: center;
}

.get-in-touch-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.get-in-touch-contents {
  flex-basis: 20%;
  text-align: center;
}

.get-in-touch-title {
  margin-top: 20px;
  display: block;
  color: #2E2E2E;
  font-size: 13px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.get-in-touch-title:hover {
  color: #ffa500;
}

.get-in-touch-contents p {
  margin-top: 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.sub {
  vertical-align: sub;
}

.email-us {
  margin-top: 17px;  
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.our-email {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.our-email:hover {
  color: #ffa500;
}

.contact-form {
  margin-top: 18px;
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.scroll-down {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

.get-social-icons {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.get-social-icons li a {
  color: #000;
  font-size: 13px;
  font-weight: bold;
}
/* get in touch end  */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 56px 0 66px;
  background: #000;
}

footer .wrapper {
  width: 29.5%;
}

footer .wrapper form {
  text-align: center;
}

.form-main-area input {
  width: 100%;
  padding: 13px 0 13px 7px;
  border: none;
  background-color: #2E2E2E;
}

input[type="email"] {
  background: #333333;
}

textarea {
  width: 100%;
  padding: 14px 0 25px 7px;
  border: none;
  background-color: #333333;
}

.description-field {
  position: relative;
}

.refresh {
  position: absolute;
  right: 5px;
  bottom: 13px;
  text-indent: -9999px;
}

.refresh::before {
  content: "\f021";
  float: right;
  color: #15C39A;
  font-family: "fontAwesome";
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.refresh:hover:before {
  color: #ffa500;
}

.form-footer-area {
  margin-top: 15px;
}

input[type="submit"] {
  width: 37%;
  padding: 12px;
  margin: auto;
  border: 1px solid #15C39A;
  background: transparent;
  color: #15C39A;
  font-size: 12px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

input[type="submit"]:hover {
  color: #ffa500;
  border: 1px solid #ffa500;
}

footer figure {
  width: 289px;
  height: 62px;
  margin: 30px auto 0;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px) {

  .menus {
    flex-basis: 50%;
  }

  .lets-get-in-touch {
    top: 1%;
  }

  .our-team-cards {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .team-card {
    flex-basis: 40%;
  }

  .banner-content {
    top: 16.5%;
  }

  .banner-cross {
    top: 53.7%;
  }

  .our-team-lower-contents {
    column-gap: 10px;
  }

  .get-in-touch h4::after {
    display: none;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /* header .wrapper */

  /* .banner-content,.banner-cross,.left-arrow,.right-arrow,.lets-get-in-touch,.refresh {
    display: none;
  } */

  .wrapper,footer .wrapper {
    width: 80%;
  }

  header .wrapper,.how-we-make-cards,.our-team-cards {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .banner-content {
    top: 1%;
  }

  .menus {
    width: 40%;
  }

  .banner-cross {
    top: 55.7%;
  }

  .get-in-touch-container {
    margin-top: 2px;
  }

  .get-in-touch-title {
    margin-top: 9px;
  }

  .get-in-touch-contents p {
    margin-top: 9px;
  }

  .email-us {
    margin-top: 9px;
  }

  .contact-form {
    margin-top: 11px;
  }

}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

.menus {
    width: 100%;
    padding: 10px 0;
    display: none;
    background-color: #15C39A;
  }

.menus ul {
    flex-direction: column;
    row-gap: 10px;
  }

.menus ul li {
  text-align: center;
}

.menus ul li a {
  color: #fff;
}

.menus ul li a:hover {
  color: #fff;
}

.hamburger {
  margin-right: auto;
    display: block;
  }

.banner-content h2 {
  line-height: initial;
}

.banner-cross {
  top: 50.7%;
}

.get-in-touch h4{
  font-size: 14px;
}

.get-in-touch-contents .get-in-touch-icon::before{
  font-size: 25px;
}

.get-in-touch-title {
  margin-top: 9px;
  font-size: 8px;
}

.get-in-touch-contents p {
  font-size: 9px;
  line-height: initial;
}

.email-us {
  margin-top: 6px;
  font-size: 10px;
}

.our-email {
  font-size: 9px;
}

.contact-form {
  margin-top: 2px;
  font-size: 10px;
}

.scroll-down {
  font-size: 9px;
}

.get-social-icons {
  margin-top: 2px;
  row-gap: 1px;
}

.get-social-icons li a {
  font-size: 10px;
}
}